services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app  # Sync code for hot reload
      - sqlite_data:/data # Persist database in a named volume mounted at /data
      - .env:/app/.env # Load env vars
    environment:
      - GOOGLE_API_KEY=${GOOGLE_API_KEY}
      - SQLITE_DB_PATH=/data/database.db
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASS=${ADMIN_PASS}
      - AUTH_TOKEN=${AUTH_TOKEN}

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
      
volumes:
  sqlite_data:
